/* COMMON */
body {
  color: #333;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  /* 기본적으로 16px 으로 시작이 된다. */
  font-weight: 400;
  line-height: 1.4;
  /* 줄높이 행간제공하기 - 글꼴에 따라서 최적의 줄높이가 다름 */
  height: 3000px;
}
img {
  display: block;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /* position: relative; */
  position: fixed;
  top: 0;
  width: 100%;
}

header .inner {
  /* background-color: orange; */
  /* inner의 가운데 정렬 */
  width: 1100px;
  margin: 0 auto;
  /* 중앙정렬 좌우 ==> width + margin auto 로 가운데정렬한다 */
  /* 화면의 중앙에 1100px 몰아서 사용 */
  height: 120px;
  position: relative;
  /* margin, width auto -> position absolute필요없음 */
  /* margin auto, left, right, width, position absolute필요함 */
  /* 2개의 케이스 잘 구분하기.. */
}

header .logo {
  /* height 75px  */
  /* <img/> ionline 가로세로x margin padding  X 글자다루는 용도
        xyzkj... 선을 기준으로 베이스라인 기준.
        글자는 기준선이 종료, inline이 글자취급
        아래쪽 공간이 존재한다. 이미지 밑에 공간이 있음.
    */
  /* img : display: block 으로 ㄱㄱ 블럭요소 */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 75px;
  left: 0;
  /* 부모요소 기준으로 왼쪽에 붙어있다 */
  /* display: none; */
}

header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header .sub-menu ul.menu {
  /* 특정요소 앞에 상위요소를 하나씩 명시해줘야 스타일중복문제를 피한다. */
  /* ul.menu 로하면 다른스타일에 영향을 미칠 수 있음. */
  /* 범위 정확히 관리하기 */
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

header .sub-menu ul.menu li {
  position: relative;
  /* before의 모요소
    position 값없었으니까 realtive추가 */
}
header .sub-menu ul.menu li::before {
  content: "";
  /* before이라는 가상요소 inline요소임 */
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  /* absolute, fixed -> display block으로 바뀐다. */
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .sub-menu ul.menu li:first-child::before {
  display: none;
}
/* 가장 왼쪽에있는 요소는 사라지도록 */

header .sub-menu ul.menu li a {
  background-color: pink;
  font-size: 12px;
  padding: 11px 16px;
  /* padding을 주어서 클릭할 수 있는 영역을 늘려준다. */
  /* a -> inline요소, margin,padding 가로세로 불가능 */
  display: block;
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  background-color: red;
  /* width: 0px; */
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  right: 5px;
  /* icon의 폰트크기와 동일, 폰트크기가 24px였음을 확ㅇ인함 */
  transition: all 0.4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
  /* 투명하게 */
}

header .main-menu {
  display: flex;
  position: absolute;
  top: 70px;
  right: 0;
}

header .main-menu ul.menu {
  display: flex;
}

header .main-menu ul.menu li {
  margin: 0 10px;
  /* background-color: pink; */
  display: block;
  height: 30px;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

header .main-menu ul.menu li:hover {
  background-color: darkslateblue;
  color: skyblue;
  border-bottom: 1px solid darkslateblue;
}

/* 다시작성함 틀려서.. */

header .main-menu ul.menu > li .item__name {
}
header .main-menu ul.menu > li .item__contents {
  background-color: pink;
  width: 100%;
  position: fixed;
  left: 0;
  top: 120px;
  display: none;
}
header .main-menu ul.menu > li:hover .item__contents {
  display: block;
}

/* 드롭다운 메뉴 윗부분 */
header .main-menu ul.menu > li .item__contents .contents__wrapper {
  /* background-color: red; */
  background-color: darkslateblue;
}

header .main-menu ul.menu > li .item__contents .contents__inner {
  width: 1100px;
  margin: 0 auto;
  /* background-color: darkslateblue; */
  display: flex;
}
header
  .main-menu
  ul.menu
  > li
  .item__contents
  .contents__inner
  .contents__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* background-color: yellow; */
  align-items: start;
  margin-right: 50px;
  width: 220px;
}

header
  .main-menu
  ul.menu
  > li
  .item__contents
  .contents__inner
  .contents__list
  .list__title {
  margin: 20px 0px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

header
  .main-menu
  ul.menu
  > li
  .item__contents
  .contents__inner
  .contents__list
  ul.list__ul {
}

header
  .main-menu
  ul.menu
  > li
  .item__contents
  .contents__inner
  .contents__list
  ul.list__ul
  li {
  color: #d5d5d5;
  margin: 0;
  padding: 2px 0;
  cursor: pointer;
  /* height: 50px; */
}
header
  .main-menu
  ul.menu
  > li
  .item__contents
  .contents__inner
  .contents__list
  ul.list__ul
  li:hover {
  /* line-height: -1.4px; */
  /* margin: -0.5px 0; */
  color: #669900;
  /* padding: -1px; */
  /* margin: -1px; */
  /* letter-spacing: -1px; */
  /* cursor: pointer; */
  /* margin: 0; */
  /* padding: 2px; */
  /* padding: 2px 0; */
}

/* 드롭다운메뉴 아랫부분 */

header .main-menu ul.menu > li .item__contents .desc__wrapper {
  background-color: rgb(0, 0, 0);
}
header .main-menu ul.menu > li .item__contents .desc__wrapper .desc__inner {
  width: 1100px;
  margin: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  justify-content: space-between;
}
header
  .main-menu
  ul.menu
  > li
  .item__contents
  .desc__wrapper
  .desc__inner
  .words__wrapper {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* 세로정렬 */
  align-items: start;
  /* 가로정렬 */
  /* background-color: yellow; */
  line-height: 1.6;
}
header
  .main-menu
  ul.menu
  > li
  .item__contents
  .desc__wrapper
  .desc__inner
  .words__wrapper
  .words__title {
  color: #c8c8c8;
  margin-bottom: 15px 0;
  display: block;
}
header
  .main-menu
  ul.menu
  > li
  .item__contents
  .desc__wrapper
  .desc__inner
  .words__wrapper
  .words__contents {
}

/* 뱃지영역 */
header .badges {
  position: absolute;
  /* top: 130px; */
  /* right: 10px; */
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin: 12px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* 여기서부터 좆됨 */
body .hover-outer {
  /* display: none; */
}
ul.menu li .hover-outer {
  display: none;
}
ul.menu li:hover .hover-outer {
  display: block;
}

.content-outer {
  background-color: darkslateblue;
  border-top: 1px solid darkslateblue;
}

.content-outer .main-outer {
  width: 1100px;
  margin: 0 auto;
  /* 중앙정렬 좌우 ==> width + margin auto 로 가운데정렬한다 */
  /* 화면의 중앙에 1100px 몰아서 사용 */
}

.content-outer .main-outer .outer-menu {
  background-color: darkslateblue;
  color: whitesmoke;
  /* margin: auto; */
  display: flex;
  padding: 20px 0px;
}

.content-outer .main-outer .outer-menu-ul {
  margin-right: 40px;
}
.content-outer .main-outer .outer-menu-ul li {
  font-size: 14px;
  line-height: 2;
  color: darkgray;
}
.content-outer .main-outer .outer-menu-ul li:first-child {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
  color: whitesmoke;
}
.content-outer .main-outer .outer-menu-ul li:not(:first-child):hover {
  color: skyblue;
}

.content-outer2 {
  background-color: darkblue;
  color: white;
}
.content-outer2 .main-outer2 {
  width: 1100px;
  margin: 0 auto;
  /* 중앙정렬 좌우 ==> width + margin auto 로 가운데정렬한다 */
  /* 화면의 중앙에 1100px 몰아서 사용 */
}

.content-outer2 .main-outer2 .outer-desc {
  padding: 50px 0;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-outer2 .main-outer2 .outer-desc .desc-wrapper {
}
.content-outer2 .main-outer2 .outer-desc .desc-wrapper .desc-title {
  margin: 10px 0;
}

.content-outer2 .main-outer2 .outer-desc .desc-wrapper .desc-contents {
  color: skyblue;
  margin-top: 0;
}
